<hmtl xmlns:th="http://www.thymeleaf.org">

	<body>
		
		<p> Please insert product data: </p>
		
		<form th:action="@{/product/crud/update/__${id}__}" th:object="${product}" method="post" >
			
			<table>
				<tr>
					<td>Title:</td>
					<td> <input type="text" th:field="*{title}" /> </td>
				</tr>
				
				<tr>
					<td>Description:</td>
					<td> <input type="text" th:field="*{description}" /> </td>
				</tr>
				
				<tr>
					<td>Price:</td>
					<td> <input type="text" th:field="*{price}" /> </td>
				</tr>
				
				<tr>
					<td>Quantity:</td>
					<td> <input type="text" th:field="*{quantity}" /> </td>
				</tr>
				
			</table>
			<input type="submit" value="Save" >
			
		</form>
		
		
	</body>
	
		
</hmtl>